# Expo
.expo
.expo-shared
dist
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.production.local

# Build
build/
dist/

# Testing
coverage/
.nyc_output

unit_xml/

# Data Tools
data_tools/
